.pytest_cache
/dist
/input
/params
/pickle
/results
/tmalign
/pytestemp
__pycache__
.DS_Store
/bio_data
/app/af_out
/tmp
zlog
/app/*.log
/peptide_utils/**/*.log
/MsaServer/mmseqs
/MsaServer/databases
/MsaServer/mmseqs-server
/MsaServer/msa-server
/MsaServer/jobs
/MsaServer/tmp
/MsaServer/test
/MsaServer/**/*.log
